table, thead, th, tbody, tr, td {
    border: 0 none;
    align: "center";
}
thead, th{
    background: #344021;
    color: white;
}

div{
    background: #F3FFE0;
}

.odd {
    background: #CEFF84;
}
img {
    max-width:10%;
    height:auto;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #344021;
    letter-spacing: 2px;
}